<div class="gap-5 flex flex-column">
  <div class="card">
      <div class="flex flex-wrap gap-3">
          <ng-container *ngFor="let meterItem of value; let index = index">
              <p-card class="flex-1">
                  <div class="flex justify-content-between gap-5">
                      <div class="flex flex-column gap-2">
                          <span class="text-secondary text-sm">{{ meterItem.label }}</span>
                          <span class="font-bold text-lg">{{ meterItem.value }}</span>
                      </div>
                      <span class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center" 
                            [style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                          <i [class]="meterItem.icon"></i>
                      </span>
                  </div>
              </p-card>
          </ng-container>
      </div>
  </div>
</div>

<br>

<div class="gap-5 flex flex-column">
  <div class="card">
      <div class="flex flex-wrap gap-3">
          <ng-container *ngFor="let meterItem of NombreInci; let index = index">
              <p-card class="flex-1">
                  <div class="flex justify-content-between gap-5">
                      <div class="flex flex-column gap-2">
                          <span class="text-secondary text-sm">{{ meterItem.label }}</span>
                          <span class="font-bold text-lg">{{ meterItem.value }}</span>
                      </div>
                      <span class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center" 
                            [style]="{ 'background-color': meterItem.color1, color: '#ffffff' }">
                          <i [class]="meterItem.icon"></i>
                      </span>
                  </div>
              </p-card>
          </ng-container>
      </div>
  </div>
<br>

<div style="display: flex; gap: 3rem;">
  <div class="chart-container">
      <p style="font-weight: bold;">Répartition des incidents par statut</p>
      <canvas #chartStatut></canvas>
  </div>
        
  <div class="chart-container">
      <p style="font-weight: bold;">Répartition des incidents par priorité</p>
      <canvas #chartPriorite></canvas>
  </div>
</div>
</div>