<body>
    
<div class="login-container">
    <app-loading [(isLoading)]="isLoading"/>
    <div style="text-align: center; flex-grow: 1;">
        <img src="/images/logosona.png" alt="Logo SONABEL" style="max-width: 120px; margin-bottom: 0.3rem;">
        <h5 style="margin-top: 0.2rem; font-size: 1.5rem;">
            <span style="color: green;">Ges</span><span style="color: red;">Inci</span>
        </h5>
    </div>
    <h3>Connexion</h3>
    <form (ngSubmit)="connexion()" [formGroup]="formulaireconnexion">
        <div class="field col-12">
            <p-floatLabel>
                <input id="email" type="text" pInputText formControlName="email" />
                <label for="email">Adresse e-mail</label>
            </p-floatLabel>
        </div>
        <div class="field col-12">
            <p-floatLabel>
                <input id="password" type="password" pInputText formControlName="password" />
                <label for="password">Mot de passe</label>
            </p-floatLabel>
        </div>
        <div class="field col-12">  
            <p-button type="submit" label="Connexion" [disabled]="formulaireconnexion.invalid"></p-button>
        </div>
    </form>
</div>
</body>