.menuBar.close{
    width: 0px;
    overflow: hidden;
}
.menuBar{
    width: 18rem;
    transition: width 0.5s ease-in-out;
}

.header{
    height: 5rem;
}

 .corps{
    position: absolute;
    top: 5rem ;
    left: 0rem;
}


.custom-button {
    background-color: #f2f2f2;  /* Gris clair */
    border: 2px solid green;    /* Bordure verte */
    color: green;               /* Texte et icône verts */
    font-weight: bold;
}
