<body>
    
<div class="card signaler-container" style="max-width: 900px; margin: 2rem auto; padding: 2rem; border: 2px solid #d9dce0; border-radius: 10px; box-shadow: 0 4px 8px rgba(81, 81, 81, 0.1);">

    <div class="logo-container">
        <img src="/images/logosona.png" alt="Logo SONABEL">
        <h5 class="gesinci-title">
          <span class="ges">Ges</span><span class="inci">Inci</span>
        </h5>
      </div>
    <div style="text-align: center;">
        <h3>
            <span>Entrez les informations de l'incident</span>
        </h3>
    </div>
    <form (ngSubmit)="save()" [formGroup]="formulaireIncident">
        <div class="p-fluid formgrid grid">
            <!-- Colonne gauche -->
            <div class="col-6">
                <!-- Champ Nom de l'incident -->
                <div class="field" style="margin-bottom: 1.5rem;">
                    <p-floatLabel>
                        <input id="nom" type="text" pInputText formControlName="nom" />
                        <label for="nom">Nom de l'incident</label>
                    </p-floatLabel>
                </div>
                <div class="field col-12" style="margin-bottom: 1.5rem;">
                    <p-dropdown
                        [options]="typesIncidents"
                        formControlName="type_incident_id"
                        optionLabel="nom"  
                        optionValue="id"
                        placeholder="Type de l'incident"
                        [style]="{width: '100%'}">
                    </p-dropdown>
                </div>
                <app-select-service [(service)]="service"></app-select-service>
            </div>
            <!-- Colonne droite (Description) -->
            <div class="col-6">
                <div class="field" style="margin-bottom: 1.5rem; height: 100%;">
                    <p-floatLabel>
                        <textarea id="description" pInputTextarea rows="9" formControlName="description" style="width: 100%;"></textarea>
                        <label for="description">Description</label>
                    </p-floatLabel>
                </div>
            </div>
           
            <!-- Bouton de soumission -->
            <div class="col-12" style="text-align: right;">
                <p-button type="submit" label="Soumettre" [style]="{'width': '200px', 'height': '40px', 'font-size': '14px'}"></p-button>
            </div>      
        </div>  
    </form>
</div>
</body>